
    <section class="hero is-fullheight">
    <div class="hero-body has-text-centered is-pulled-left">
      <%# <div class="container  is-centered is-vcentered "> %>
        <div class="login notification is-white">
          <%= image_tag 'logo.png' ,width: "40%", height: "40%" %>
          <%# <img src="images/logo.png" width="325px" /> %>
          <form>
          <%= form_with url: login_path do |f| %>
            <div class="field">
              <div class="control">
                <%= f.label :email , "メールアドレス"%>
                <%= f.email_field :email, class: "input is-medium is-rounded" %>
                <%# <input class="input is-medium is-rounded" type="email" placeholder="hello@example.com" autocomplete="username" required /> %>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <%= f.label :password, "パスワード" %>
                <%= f.password_field :password, class: "input is-medium is-rounded is-half" %>
                <%# <input class="input is-medium is-rounded" type="password" placeholder="**********" autocomplete="current-password" required /> %>
              </div>
            </div>
            <br />
            <%# <button class="button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Login
            </button> %>
            <%= f.submit 'ログイン', class: "button is-block is-fullwidth is-primary  is-medium is-rounded" %>
          <% end %>
          </form>
          <br>
          <nav class="level">
            <div class="level-item has-text-centered">
              <div class="is-size-7">
                <a href="#">パスワードをお忘れですか?</a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div class="is-size-7">
                <%= link_to 'アカウントを新規登録', new_shop_path %>
                <%# <a href="#">アカウントを新規登録</a> %>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="column is-8 is-offset-2">
          <br>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <%= link_to "https://twitter.com" do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </span> &emsp;
                <span class="icon">
                  <%= link_to "https://facebook.com" do %>
                  <i class="fab fa-facebook"></i>
                  <% end %>
              </div>
            </div>
            <div class="level-right">
              <small class="level-item" style="color: var(--textLight)">
                &copy; Listavin
              </small>
            </div>
          </nav>
        </div>
        </div>
      <%# </div> %>
    </section>
