<%= form_with url: wines_path do |f|%>
  <div>
    <%= f.label :wine_name, "ワイン名（アルファベット）" %>
    <%= f.text_field :wine_name , class: "input is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :wine_name_kana, "ワイン名（カナ）" %>
    <%= f.text_field :wine_name_kana, class: "input is-rounded is-primary", size: 10 %>
  </div>
  <div>
    <%= f.label :winary_name, "ワイン生産者（アルファベット）" %>
    <%= f.text_field :winary_name, class: "input is-info is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :winary_name_kana, "ワイン生産者（カナ）" %>
    <%= f.text_field :winary_name_kana, class: "input is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :grape_name, "ぶどう品種" %>
    <%= f.text_field :grape_name , class: "input is-primary is-rounded"%>
  </div>
  <div>
    <%= f.label :vintage, "ヴィンテージ" %>
    <%= f.text_field :vintage, class: "input is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :comment,"テイスティングコメント" %>
    <%= f.text_area :comment, class:"textarea is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :memo,"メモ" %>
    <%= f.text_area :memo, class:"textarea is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :purchase_price, "仕入れ価格" %>
    <%= f.text_field :purchase_price, class: "input is-primary is-rounded" %>
  </div>
  <div>
    <%= f.label :selling_price, "販売価格" %>
    <%= f.number_field :selling_price, min: 0 , class: "input is-primary is-rounded"%>
  </div>
  <div>
    <%= f.label :stock, "在庫数" %>
    <%= f.number_field :stock, min: 0 , class: "input is-primary is-rounded"%>
  </div>
  <div>
    <div>
    <%= f.label :country, "生産国" %>
    </div>
    <%= f.collection_select(:country_id, Country.all, :id, :name, {prompt: "国名を選択してください"}, {class: "select is-primary is-rounded"}) %>
  </div>
  <div>
    <%= f.label :state, "州・地域名"%>
    <%= f.text_field :state , class: "input is-primary is-rouded"%>
  </div>
  <div>
    <%= f.label :company_name, "ワイン会社"%>
    <%= f.text_field :company_name , class: "input is-primary is-rounded"%>
  </div>
  <div>
    <%= f.label :onlist,"オンリスト"%>
    <%= f.check_box :onlist ,{checked: false}, "true", "false" %>
  </div>
  <%= f.submit "保存する", class:"button is-link  is-rounded" %>
<% end %>

