


<section class= "hero is-fullheight" id="app-1">
  <%= form_with model: @wine ,url: wine_path(@wine.wine_id), method: :put do |f|%>
  <%= f.hidden_field :wholesaler_id %>
  <%= f.hidden_field :winary_id %>
  <%= f.hidden_field :grape_ids %>
  <%= f.hidden_field :wine_id %>
  <div class=" columns wineform ">
    <div class= "column">

          <div class="columns">
            <div class="winename">
              <div class="column ">
                <%= f.label :wine_name, "ワイン名（アルファベットもしくは日本語）", class:"is-size-7" %>
                <p class="control has-icons-left">
                    <%= f.text_field :wine_name , class: "leftform input is-primary", "v-model" => "winename" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-wine-glass-alt"></i>
                    </span>
                </p>
              </div>
              <div class="column">
                <%= f.label :wine_name_kana, "ワイン名（カナ）" , class:"is-size-7"%>
                <p class="control has-icons-left">
                    <%= f.text_field :wine_name_kana, class: "input is-primary" %>
                    <span class="icon is-small is-left">
                      <i class="fas fa-wine-glass-alt"></i>
                    </span>
                </p>
              </div>
            </div>
          </div>

          
          <div class="columns">
            <div class="winaryname">
                <div class="column ">
                  <%= f.label :winary_name, "ワイン生産者（アルファベットもしくは日本語）" , class:"is-size-7"%>
                  <p class="control has-icons-left">
                      <%= f.text_field :winary_name, class: "input is-info is-primary" , "v-model"=> "winaryname"%>
                      <span class="icon is-small is-left">
                        <i class="fab fa-fort-awesome"></i>
                      </span>
                  </p>
                </div>
                <div class="column">
                  <%= f.label :winary_name_kana, "ワイン生産者（カナ）" , class:"is-size-7"%>
                  <p class="control has-icons-left">
                      <%= f.text_field :winary_name_kana, class: "input is-primary" %>
                      <span class="icon is-small is-left">
                        <i class="fab fa-fort-awesome"></i>
                      </span>
                  </p>
                </div>
            </div>
          </div>

          <div class="columns">
                <div class="column">
                  <div>
                  <%= f.label :_winetype, "タイプ", class:"is-size-7"%>
                  </div>
                  <p class="control">
                      <span class="icon is-small">
                        <i class="fas fa-glass-cheers"></i>
                      </span>
                  <%= f.select :wine_type, ["スパークリング","赤ワイン","白ワイン"], {prompt: "種類を選択してください"} ,{class: "select is-primary is-rounded", required: true}%>
                  </p>
                </div>
                
          </div>
          <div class="columns">
                <div class="column">
                    <div>
                    <%= f.label :country, "生産国", class:"is-size-7" %>
                    </div>
                    <p class="control">
                        <span class="icon is-small">
                          <i class="fas fa-flag-usa"></i>
                        </span>
                    <%= f.collection_select(:country_id, Country.all, :id, :name, {prompt: "国名を選択してください"}, {class: "select is-primary is-rounded"}) %>
                    </p>
                  </div>
                <div class="column state">
                  <%= f.label :state, "州・地域名", class:"is-size-7"%>
                  <p class="control has-icons-left">
                      <%= f.text_field :state , class: "input is-primary"%>
                      <span class="icon is-small is-left">
                        <i class="fas fa-city"></i>
                      </span>
                  </p>
                </div>
          </div>
          

          <div class="columns">
                <div class="column">
                  <%= f.label :grape_name, "ぶどう品種", class:"is-size-7"%>
                  <p class="control has-icons-left">
                  <%= f.text_field :grape_name , class: "input is-primary", "v-model" => "grapes"%>
                  <span class="icon is-small is-left">
                        <i><%= image_tag 'grape.svg', class: "image is-16x16"%></i>
                      </span>
                  </p>
            </div>
          </div>

          <div class="columns">
                <div class="column is-half">
                  <%= f.label :vintage, "ヴィンテージ", class:"is-size-7" %>
                  <p class="control has-icons-left">
                  <%= f.text_field :vintage, class: "input is-primary" %>
                      <span class="icon is-small is-left">
                        <i class="far fa-calendar-alt"></i>
                      </span>
                  </p>
                </div>
          </div>

          <div class="columns is-flex-desktop">
                <div class="column is-half">
                  <%= f.label :purchase_price, "仕入れ価格", class:"is-size-7" %>
                  <p class="control has-icons-left">
                  <%= f.number_field :purchase_price, class: "input is-primary", "v-model"=>"guideline_price"%>
                      <span class="icon is-small is-left">
                        <i class="fas fa-truck"></i>
                      </span>
                  </p>
                </div>
                <div class="column is-half">
                <label class="is-size-6">販売価格目安
                <p>{{ guideline_price * 3}}円</p>
                </div>
          </div>
          <div class="columns is-flex-desktop">
                <div class="column is-half">
                  <%= f.label :selling_price, "販売価格" , class:"is-size-7"%>
                  <p class="control has-icons-left">
                  <%= f.number_field :selling_price , class: "input is-primary is-rounded", "v-model"=>"selling_price"%>
                      <span class="icon is-small is-left">
                        <i class="far fa-money-bill-alt"></i>
                      </span>
                  </p>
                </div>
                <div class="column is-half">
                <label class="is-size-6">原価率
                <p>{{ Math.floor(cost || '0') }} %</p>
                </div>
          </div>
          
          <div class="columns">
                <div class="column">
                  <%= f.label :company_name, "ワイン会社", class:"is-size-7"%>
                  <p class="control has-icons-left">
                  <%= f.text_field :company_name , class: "input is-primary"%>
                    <span class="icon is-small is-left">
                        <i class="far fa-building"></i>
                      </span>
                  </p>
                </div>
          </div>
    </div>
    <div class="column wineform">
          <div class="columns">
                <div class="column">
                <%= f.label :comment,"テイスティングコメント", class:"is-size-7" %>
                <p class="control has-icons-left">
                <%= f.text_area :comment, class:"textarea is-primary", "v-model" => "comment" %>
                  <span class="icon is-small is-left">
                        <i class="far fa-comments"></i>
                      </span>
                  </p>
                </div>
          </div>
          <br>
          <div class="columns">
                <div class="column">
                  <%= f.label :memo,"メモ", class:"is-size-7" %>
                  <p class="control has-icons-left">
                  <%= f.text_area :memo, class:"textarea is-primary", "v-model" => "memo" %>
                    <span class="icon is-small is-left">
                        <i class="far fa-sticky-note"></i>
                      </span>
                  </p>
                </div>
          </div>
          <div class="columns">
                <div class="column is-one-quarter">
                  <%= f.label :stock, "在庫数", class:"is-size-7" %>
                  <p class="control has-icons-left">
                  <%= f.number_field :stock, min: 0 , class: "input is-primary is-rounded", "v-model" => "stock"%>
                    <span class="icon is-small is-left">
                        <i class="fas fa-warehouse"></i>
                      </span>
                  </p>
                </div>
          </div>
        
          <br>
          <div class="columns">
                <div class="column">
                  <div>
                  <%= f.label :onlist,"ワインリストに載せる場合はチェックを入れてください。", class:"is-size-7"%>
                  </div>
                  <span class="icon">
                    <i class="fas fa-book"></i>
                  </span>
                  <%= f.check_box :onlist ,{checked: false, class: "app_checkbox", "v-model" => "onlist"}, "true", "false" %>
                </div>
          </div>
          <br>
          <br>
          <%# <div class="columns ">
                <div class="column box is-size-6">
                <p>ワイン名：{{winename}}</p>
                <p>生産者名：{{ winaryname}}</p>
                <p>品種：{{ grapes }}</p>
                <p>仕入れ価格：{{guideline_price}}円</p>
                <p>販売価格：{{selling_price}}円</p>
                <p>在庫数：{{stock}}本</p>
                <p>オンリスト：{{onlist}}</p>
                <p class="has-background-white">テイスティングノート：{{comment}}</p>
                <p class="has-background-white">メモ：{{memo}}</p>
                </div>
          </div> %>
      </div>
    </div>

    
  </div> 
  <div class="savebutton">
   <%= f.submit "保存する", class:"button is-link is-fullwidth  is-rounded" %>
   </div>
  <% end %>
  
</section>

<script>
new Vue({
    el: '#app-1',
    data: {
        guideline_price : '',
        purchase_price : '',
        selling_price : '',
        winename : '',
        winaryname : '',
        country : '',
        grapes : '',
        stock : '',
        comment : '',
        memo : '',
        onlist : "",

    },
    computed: {
      cost: function() { 
      const answer = (this.guideline_price / this.selling_price)*100;
      if(isNaN(answer)) return 0;
      if(!isFinite(answer)) return 0;
      return answer;
    },
    }
});
</script>