
<%= render 'wines/index/navbar' %>

<%= render 'wines/index/notice_alert' %>
        
  
<div class="container wine-search ">

      <div class="field is-grouped">
        <%# <p class="control is-expanded">
          <input class="input" type="text" placeholder="ワインを検索する">
        </p>
        <p class="control">
          <a class="button is-dark">
            検索
          </a>
        </p> %>
        <%= search_form_for @q, url: search_wines_path do |f|%>
            <div class="columns">
              <div class="control is-expanded column">
                <%= f.label :wine_name, "ワイン名、生産者、ワイン会社でを検索する"%>
                <%= f.search_field :wine_name_or_wine_name_kana_or_winary_winary_name_or_winary_winary_name_kana_or_wholesaler_company_name_cont, class:"input" %>
                <%= f.label :selling_price, "販売価格帯で検索する"%>
                  <div>
                    <%= f.radio_button :selling_price_lteq, "4000", class:"radio" %>4000円以下
                    <%= f.radio_button :selling_price_lteq, "6000", class:"radio" %>6000円以下
                    <%= f.radio_button :selling_price_lteq, "8000", class:"radio" %>8000円以下
                    <%= f.radio_button :selling_price_lteq, "10000", class:"radio" %>10000円以下
                    <%= f.radio_button :selling_price_lteq, "20000", class:"radio" %>20000円以下
                    <%= f.radio_button :selling_price_gteq, "20000", class:"radio" %>20000円以上
                  </div>
                <%= f.collection_select :country_id_eq, Country.all,  :id, :name_kana, {prompt: "国名を選択してください"}, {class: "select is-primary is-rounded"} %>
            <%# </div> %>
            <%# <div class="control"> %>
              <%= f.submit "検索" ,class: "button is-dark"%>
              </div>
            </div>
        <% end %>
        
      </div>
      <div class="pagination is-centered is-rounded has-text-centered wine-pagination"><%== pagy_bulma_nav(@pagy) %></div>
</div>

<div class="hero is-fullheight">
    <table class="table is-background-info is-hoverable is-fullwidth">
      <%= render 'wines/index/thead' %>

      <tbody>
        <% @wines.each do |wine|%>
          <%= render 'wines/index/tbody', wine: wine %>
        <% end %>
        
      
        
      </tbody>
    </table>
</div>


<div class="column is-fullwidth">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <%= link_to "https://twitter.com" do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </span> &emsp;
                <span class="icon">
                  <%= link_to "https://facebook.com" do %>
                  <i class="fab fa-facebook"></i>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="level-right">
              <small class="level-item" style="color: var(--textLight)">
                &copy; Listavin
              </small>
            </div>
          </nav>
</div>