

<nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand ">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
    </div>
    <div id="navMenuExample2" class="navbar-menu">
      <div class="navbar-start">
        <%# <a class="navbar-item " href="#">
          ホーム
        </a> %>
        <%= link_to 'ホーム', "#", class: "navbar-item" %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            価格帯
          </a>
          <div class="navbar-dropdown ">
            <%= link_to  "~4000円", search_wines_path(@q, :'q[selling_price_gteq' => '2000', :'q[selling_price_lteq' => '4000'),class: "navbar-item" %>
            <%= link_to  "~6000円", search_wines_path(@q, :'q[selling_price_gteq' => '4000', :'q[selling_price_lteq' => '6000'),class: "navbar-item" %>
            <%= link_to  "~8000円", search_wines_path(@q, :'q[selling_price_gteq' => '6000', :'q[selling_price_lteq' => '8000'),class: "navbar-item" %>
            <%= link_to  "~10000円", search_wines_path(@q, :'q[selling_price_gteq' => '8000', :'q[selling_price_lteq' => '10000'),class: "navbar-item" %>
            <%= link_to  "~20000円", search_wines_path(@q, :'q[selling_price_gteq' => '10000', :'q[selling_price_lteq' => '20000'),class: "navbar-item" %>
            <%# <hr class="navbar-divider">
            <div class="navbar-item">
              <div>version
                <p class="has-text-info is-size-6-desktop">0.1.0</p>
              </div>
            </div> %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"  href="#">
            タイプ
          </a>
          <div class="navbar-dropdown ">
            <%= link_to  "スパークリング", search_wines_path(@q, :'q[wine_type_eq' => 'スパークリング'),class: "navbar-item" %>
            <%= link_to  "赤ワイン", search_wines_path(@q, :'q[wine_type_eq' => '赤ワイン'),class: "navbar-item" %>
            <%= link_to  "白ワイン", search_wines_path(@q, :'q[wine_type_eq' => '白ワイン'),class: "navbar-item" %>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"  href="#">
            エリア
          </a>
          <div class="navbar-dropdown ">
            <%= link_to  "オールドワールド", search_wines_path(@q, :'q[country_id_eq_any' => ["1","2","4","6","7","8","15","16","17"]),class: "navbar-item" %>
            <%= link_to  "ニューワールド", search_wines_path(@q, :'q[country_id_eq_any' => ["5","9","10","11","12","13"]),class: "navbar-item" %>
            <%= link_to  "日本ワイン", search_wines_path(@q, :'q[country_id_eq' => '3'),class: "navbar-item" %>

            <%# <hr class="navbar-divider">
            <div class="navbar-item">
              <div>version
                <p class="has-text-info is-size-6-desktop">0.1.0</p>
              </div>
            </div> %>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <%# <a class="navbar-item" href="https://github.com/jgthms/bulma" target="_blank">
          Github
        </a>
        <a class="navbar-item" href="https://twitter.com/jgthms" target="_blank">
          Twitter
        </a> %>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a id="twitter" class="button">
                <span>＋新規登録</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="#">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>listavin</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
</nav>

  
<div class="container wine-search ">
      <div class="field is-grouped">
        <%# <p class="control is-expanded">
          <input class="input" type="text" placeholder="ワインを検索する">
        </p>
        <p class="control">
          <a class="button is-dark">
            検索
          </a>
        </p> %>
        <%= search_form_for @q, url: search_wines_path do |f|%>
            <div class="columns">
              <div class="control is-expanded column">
                <%= f.label :wine_name, "ワイン名、生産者、ワイン会社でを検索する"%>
                <%= f.search_field :wine_name_or_wine_name_kana_or_winary_winary_name_or_winary_winary_name_kana_or_wholesaler_company_name_cont, class:"input" %>
                <%= f.label :selling_price, "販売価格帯で検索する"%>
                  <div>
                    <%= f.radio_button :selling_price_lteq, "4000", class:"radio" %>4000円以下
                    <%= f.radio_button :selling_price_lteq, "6000", class:"radio" %>6000円以下
                    <%= f.radio_button :selling_price_lteq, "8000", class:"radio" %>8000円以下
                    <%= f.radio_button :selling_price_lteq, "10000", class:"radio" %>10000円以下
                    <%= f.radio_button :selling_price_lteq, "20000", class:"radio" %>20000円以下
                    <%= f.radio_button :selling_price_gteq, "20000", class:"radio" %>20000円以上
                  </div>
                <%= f.collection_select :country_id_eq, Country.all,  :id, :name_kana, {prompt: "国名を選択してください"}, {class: "select is-primary is-rounded"} %>
            <%# </div> %>
            <%# <div class="control"> %>
              <%= f.submit "検索" ,class: "button is-dark"%>
              </div>
            </div>
        <% end %>
        
      </div>
      <div class="pagination is-centered is-rounded has-text-centered wine-pagination"><%== pagy_bulma_nav(@pagy) %></div>
</div>

<div class="hero is-fullheight">
    <table class="table is-background-info is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><%= sort_link(@q, :id, "ID" )%></th>
          <th><%= sort_link(@q, :wine_name, "ワイン名")%></th>
          <th><%= sort_link(@q, :wine_name_kana, "ワイン名カナ")%></th>
          <th><%= sort_link(@q, :winary_winary_name, "生産者")%></th>
          <th><%= sort_link(@q, :winary_winary_name_kana, "生産者カナ")%></th>
          <th><%= sort_link(@q, :wine_grapes_grape_grape_name, "品種")%></th>
          <th><%= sort_link(@q, :vintage, "ヴィンテージ")%></th>
          <th><%= sort_link(@q, :purchase_price, "仕入れ値")%></th>
          <th><%= sort_link(@q, :selling_price, "販売価格")%></th>
          <th><%= sort_link(@q, :wine_wholesaler, "ワイン会社")%></th>
          <th><%= sort_link(@q, :onlist, "オンリスト")%></th>
          <th>アクション</th>
        </tr>
      </thead>
      <%# <tfoot>
        <tr>
          <th>ID</th>
          <th>ワイン名</th>
          <th>ワイン名カナ</th>
          <th>生産者名</th>
          <th>生産者名カナ</th>
          <th>品種</th>
          <th>ヴィンテージ</th>
          <th>仕入れ値</th>
          <th>販売価格</th>
          <th>ワイン会社</th>
          <th>オンリスト</th>
          <th>アクション</th>
        </tr>
      </tfoot> %>
      <tbody>
        <% @wines.each do |wine|%>
          <tr>
          <td><%= wine.id%>
          <td><%= link_to  wine.wine_name, url: "#"%>
          <td><%= wine.wine_name_kana%></td>
          <td><%= wine.winary.winary_name%></td>
          <td><%= wine.winary.winary_name_kana%></td>
          <td><%= wine.grapes.pluck(:grape_name).join%></td>
          <td><%= wine.vintage%></td>
          <td><%= wine.purchase_price %></td>
          <td><%= wine.selling_price%></td>
          <td><%= wine.wholesaler.company_name%></td>
          <td><%= wine.onlist %></td>
          <td class="is-flex-desctop">
              <div class="button is-danger"><%= link_to '削除', wine_path(wine.id),method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %></div>
              <div class="button is-dark"><%= link_to 'コピー', copy_wine_path(wine.id), data: { confirm: "コピーしてよろしいですか？", commit: "コピーする", cancel: "やめる", title: "ご確認ください" } %></div>
              <div class="button is-info"><%= link_to '編集', edit_wine_path(wine.id) %></div>
              <%# <div class="button is-info">
              <%= link_to edit_wine_path(wine.id) do %>
              <%# <%= fa_icon 'edit'%>
              <%# <% end %>
            
          </td>
        </tr> 
        <% end %>
        
      
        
      </tbody>
    </table>
    <%# <div class="pagination is-centered is-rounded "><%== pagy_bulma_nav(@pagy) %></div>
</div>


<div class="column is-fullwidth">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <%= link_to "https://twitter.com" do %>
                  <i class="fab fa-twitter"></i>
                  <% end %>
                </span> &emsp;
                <span class="icon">
                  <%= link_to "https://facebook.com" do %>
                  <i class="fab fa-facebook"></i>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="level-right">
              <small class="level-item" style="color: var(--textLight)">
                &copy; Listavin
              </small>
            </div>
          </nav>
</div>